#intro {
	font-size:18px;
	font-family:"Helvetica";
	margin: 40px auto;
	max-width: 650px;
	line-height: 1.6;
	color: #444;
	padding:0 10px;
}

a {
	color:#00679E;
}

h2 {
	line-height: 1.2;
}

body {
	background: #F2F2F2;
}
