#intro {
    font-size: 18px;
    font-family: "Overpass";
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    color: #444;
    padding: 0 10px;
    font-weight: 300;
}

#credit {
    position: fixed;
    bottom: 0;
    font-size: 12px;
    font-family: "Overpass";
    font-weight: 300;
    margin: auto;
    max-width: 650px;
    color: #BBB;
}

#blog {
    font-family: "Overpass";
    font-weight: 300;
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    color: #444;
    padding: 0 10px;
}

#blog p {
    font-size: 14px;
}

#blog ul {
    font-size: 14px;
}

.tooltip {
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: rgb(79, 79, 79);
    color: #fff;
    text-align: center;
    padding: 0 0;
    border-radius: 6px;
    /* Use half of the width (120/2 = 60), to center the tooltip */
    z-index: 1;
    position: absolute;
}

/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
}

a {
    color: #00679E;
}

.quiet {
    text-decoration: none;
    color: #444;
}

h2 {
    line-height: 1.2;
}

body {
    background: #F2F2F2;
}